$primaryColor: #795548;
$primaryDarkColor: #4e342e;
$primaryLightColor: #bcaaa4;
$primaryTextColor: #ffffff;
$accentColor: #8BC34A;
$accentDarkColor: #558B2F;
$accentLightColor: #C5E1A5;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';