$primaryColor: #757575;
$primaryDarkColor: #424242;
$primaryLightColor: #9e9e9e;
$primaryTextColor: #ffffff;
$accentColor: #FF5722;
$accentDarkColor: #D84315;
$accentLightColor: #FFAB91;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';