$primaryColor: #673AB7;
$primaryDarkColor: #4527A0;
$primaryLightColor: #B39DDB;
$primaryTextColor: #ffffff;
$accentColor: #FFC107;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #212121;

@import '../sass/theme/_theme';