$primaryColor: #2f4050;
$primaryDarkColor: #0e2031;
$primaryLightColor: #5b6976;
$primaryTextColor: #ffffff;
$accentColor: #1ab394;
$accentDarkColor: #197865;
$accentLightColor: #6be7ce;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';