$primaryColor: #673AB7;
$primaryDarkColor: #4527A0;
$primaryLightColor: #B39DDB;
$accentColor: #00BCD4;
$accentDarkColor: #00838F;
$accentLightColor: #80DEEA;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #00BCD4;
$lightMenuRouterLinkActiveColor: #673AB7;
$horizontalLightMenuRouterLinkActiveColor: #00BCD4;

@import '../../sass/layout/_layout';
