$primaryColor: #757575;
$primaryDarkColor: #424242;
$primaryLightColor: #EEEEEE;
$accentColor: #FF5722;
$accentDarkColor: #D84315;
$accentLightColor: #FFAB91;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #FF5722;
$lightMenuRouterLinkActiveColor: #FF5722;
$horizontalLightMenuRouterLinkActiveColor: #FF5722;

@import '../../sass/layout/_layout';