$primaryColor: #009688;
$primaryDarkColor: #00695C;
$primaryLightColor: #80CBC4;
$accentColor: #CDDC39;
$accentDarkColor: #9E9D24;
$accentLightColor: #E6EE9C;
$accentTextColor: #212121;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #CDDC39;
$lightMenuRouterLinkActiveColor: #009688;
$horizontalLightMenuRouterLinkActiveColor: #CDDC39;

@import '../../sass/layout/_layout';