$primaryColor: #4CAF50;
$primaryDarkColor: #2E7D32;
$primaryLightColor: #A5D6A7;
$accentColor: #ffeb3b;
$accentDarkColor: #4527A0;
$accentLightColor: #f9a825;
$accentTextColor: #212121;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #ffeb3b;
$lightMenuRouterLinkActiveColor: #4CAF50;
$horizontalLightMenuRouterLinkActiveColor: #ffeb3b;

@import '../../sass/layout/_layout';