$primaryColor: #795548;
$primaryDarkColor: #4e342e;
$primaryLightColor: #bcaaa4;
$accentColor: #8BC34A;
$accentDarkColor: #558B2F;
$accentLightColor: #C5E1A5;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #8BC34A;
$lightMenuRouterLinkActiveColor: #795548;
$horizontalLightMenuRouterLinkActiveColor: #8BC34A;

@import '../../sass/layout/_layout';