$primaryColor: #00bcd4;
$primaryDarkColor: #00838f;
$primaryLightColor: #4dd0e1;
$accentColor: #ffc107;
$accentDarkColor: #ff8f00;
$accentLightColor: #ffe082;
$accentTextColor: #212121;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #ffc107;
$lightMenuRouterLinkActiveColor: #00bcd4;
$horizontalLightMenuRouterLinkActiveColor: #ffc107;

@import '../../sass/layout/_layout';