$primaryColor: #673AB7;
$primaryDarkColor: #4527A0;
$primaryLightColor: #B39DDB;
$accentColor: #FFC107;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #212121;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #FFC107;
$lightMenuRouterLinkActiveColor: #673AB7;
$horizontalLightMenuRouterLinkActiveColor: #FFC107;

@import '../../sass/layout/_layout';