.login-body {
    height: auto;

    .login-type {

        background: url("../images/login/login2x.png") top left no-repeat #f7f7f7;
        background-size: cover;
        height: 480px;
        padding-top: 100px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        text-align: center;

        > img {
            width: 100%;
        }
    }
}

.login-panel {
    width: 350px;
    min-height: 440px;
    text-align: center;
    margin: 0 auto 0 auto;
    z-index: 100;
    padding: 50px 20px;
    
    .p-grid {
        .p-col-12 {
            padding: 25px 40px;
            
            .p-button {
                margin-bottom: 20px;
            }
        }
    }

    .p-button {
        &.p-button-text-icon-left {
            padding-left: 0.5em;
        }

        .p-button-icon-left {
            vertical-align: sub;
        }
    }
}

.login-footer {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: $textSecondaryColor;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   /* .login-body {
        background: url("../images/login/login2x.png") top left no-repeat #f7f7f7;
        background-size: 100% auto;
    }*/
}

@media (max-width: 1024px) {
    .login-panel {
        text-align: center;
        min-height: 440px;
        margin: 100px auto 0 auto;

    }
}

@media (max-width: 640px) {
    .login-panel {
        text-align: center;
        width: 300px;
        min-height: 440px;
        padding: 40px 20px;
        margin: 75px auto 0 auto;
        
        .p-grid {
            .p-col-12 {
                padding: 20px 20px;
                
                .p-button {
                    margin-top: 30px
                }
            }
        }
    }
}