/* Place your extensions here to make migration to a new release easier. */
.busy-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.busy-loader:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.busy-loader > div:first-of-type {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 200px;
	height: 200px;
  	
	margin: auto;
}