/* Common */
$textColor: #212121;
$textSecondaryColor: #757575;
$fontFamily: "Roboto","Helvetica Neue",sans-serif;
$fontSize: 14px;
$lineHeight: 18px;
$transitionDuration: .3s;
$borderRadius: 3px;
$iconFontSize:1.5em;
$iconWidth:1em;
$iconHeight:1em;
$overlayMaskBgColor:#424242;
$errorColor:#e62a10;
$errorTextColor:#ffffff;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;
$dividerColor:#dbdbdb;
$dividerLightColor:#cacaca;
$inlineSpacing:.5em;

$blueGrey:#607D8B;
$cyan:#00BCD4;
$teal:#009688;
$red:#F44336;
$green:#4CAF50;
$deepOrange:#FF5722;
$purple:#673AB7;
$pink:#E91E63;
$amber:#FFC107;
$orange:#FF9800;
$brown:#795548;
$indigo:#3F51B5;
$blue:#03A9F4;
$secondary:#ffffff;

$blueGreyDark:#37474F;
$cyanDark:#00838F;
$tealDark:#009688;
$redDark:#C62828;
$greenDark:#2E7D32;
$deepOrangeDark:#D84315;
$purpleDark:#4527A0;
$pinkDark:#AD1457;
$amberDark:#FF8F00;
$orangeDark:#EF6C00;
$brownDark:#4E342E;
$indigoDark:#283593;
$blueDark:#0277BD;